#brand {
    color: rgb(199, 88, 88);
    font-size: 1.75em;
    font-weight: bolder;
}
#links{
    display: flex;
    align-items: center;
    border-radius: 4%/20%;
    border-color: rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);

    color: rgb(24, 24, 24);
    font-family: monospace;
}
#links :hover {
    color: black;
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    
}
