
.hero-bg {
    position: relative;
    background: url('../img_files/DSCF4683.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100svh;
}
.hero-content {
    position: absolute;
    bottom: 1%;
    left: 0.5%;
    color: rgb(245, 245, 245);
    background-color:rgba(0, 0, 0, 0.85);
    border-radius: 4%/15%;
}
.hero2-bg {
    position: relative;
    background:url('../img_files/DSC02900.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100svh;
}
.hero2-content {
    position: absolute;
    bottom: 1%;
    left: 0.5%;
    color: rgb(14, 14, 14);
    background-color:rgb(248, 248, 248, 0.85);
    border-radius: 4%/15%;
}